/* tables css */

/* navbar styles */

.nav-container {
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* table styles */

/* sets pointer to indicate filter availability on table headers */
.filter {
    cursor: pointer;
}

.table-responsive {
    margin-top: 2.5%;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.table {
    width: 90%;
    margin: 0 auto;
}

.book-row {
    vertical-align: middle;
}